body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  align-content: center;
  text-align: center;
}

.container {
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}


.valor{
  font-weight: bold; 
}


.text-center{
  color: blue;
}